@font-face {
  font-family: cool-logo;
  src: url("../fonts/FastHand-lgBMV.ttf");
}

:root {
  --navbar-height: 3rem;
  --max-width: 900px;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  background: linear-gradient(to right, #083606, #34d31b, rgb(121, 238, 121));
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.main {
  text-align: center;
  padding: 3rem 1rem;
}

a,
a:link,
a:visited,
a:focus {
  text-decoration: none;
  color: rgb(15, 59, 15);
}

footer {
  margin-top: 10px;
  bottom: 0;
}
